body {
    background-color: rgb(87, 87, 87);
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32;
    text-align: center;
}

p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20;
    text-align: center;
}


/*LogoDiv*/
#LogoDiv {
    background-color: rgb(50, 50, 50);
    border-radius: 25px;      /*Rounded Corner*/
    margin-top: 80px;
    margin-left: 400px;
    transform: skewY(-10deg);
    width: 50%;
    text-align: center;
}

/*Logo*/
#LogoDiv img {
    height: 150px;
    width: 150px;
    padding: 20px;
    max-height: max-content;
    max-width: max-content;
}

/*Logo Hover*/
img:hover{
    z-index: 999;
    background-image: url("images/Logo-Hover.png");
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    padding: 20px;
}

/*Login*/
#LoginDiv {
    background-color: rgb(70, 70, 70);
    border-radius: 25px;      /*Rounded Corner*/
    margin-left: 400px;
    transform: skewY(-10deg);
    width: 50%;
    text-align: center;
}

/*Input Username & Password*/
input[type=text], input[type=password] {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 25px;      /*Rounded Corner*/
    text-align: left;
    padding: 20px;
    width: 40%;
}

/*Login Button*/
button {
    color: white;
    font-size: 15;
    background-color: rgb(50, 50, 50);
    border-radius: 25px;      /*Rounded Corner*/
    border: none;
    padding: 20px;
    width: 40%;
}

/*Login Button Hover*/
button:hover {
    background-color: black;
}

.message-box {
    display: none;
    border : none;
    padding: 12px;
    border-radius: 25px;      /*Rounded Corner*/
    color: white;
    background-color: rgb(129, 214, 2);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 10%;
    font-size: 19px;
    left: 87%;
    top: 90%;
}

.message-box-false {
    display: none;
    border : none;
    padding: 12px;
    border-radius: 25px;      /*Rounded Corner*/
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 10%;
    font-size: 19px;
    left: 87%;
    top: 90%;
}