  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(87, 87, 87);
  }

  h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32;
    text-align: center;
  }

  h2 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18;
  }

  h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15;
  }

  p {
    color: white;
    font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
  }

  p2 {
    font-size: 42;
  }

  p3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 10px;
  }

  p4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26;
  }
  
  a {
    color: white;
    font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-decoration: none;
  }

  /* Header Style */
  header {
    background-color: rgba(37, 37, 37, 0.555);
    padding: 20px;
    text-align: left;
    font-size: 15px;
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  header h2 {
    margin-left: 15px;
  }
  
  /*Navbar*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    text-align: left;
  }
  
  li{
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  li a:hover {
    background-color: rgba(0, 0, 0, 0.245);
  }

  button {
    background-color: rgba(37, 37, 37, 0.555);
    font-size: 15;
    height: 47px;
    width: 47px;
    color: white;
    border-style: hidden;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.245);
  }

  /*Streetwear for everyone*/
  article {
    background-image: url("images/astronaut-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white; 
    text-align: center;
    height: 500px;
  }

  /* Products */
  #products {
    overflow: hidden;
  }

  #col-1 {
    padding: 0px;
    position: relative;
    z-index: 0;
    transition: 0.5s;
  }

  #col-1:hover{
  z-index: 100;
  transition: 0.5s;
  }

  #col-1 img {
    width: 50%;
    float: left;
    transition: .5s;
    transform: scale(1);
  }

  #col-2 {
    padding: 0px;
    position: relative;
    z-index: 0;
    transition: 0.5s;
  }

  #col-2:hover{
  z-index: 100;
  transition: 0.5s;
  }

  #col-2 img {
    width: 50%;
    float: right;
    transition: .5s;
    transform: scale(1);
  }

  #col-1:hover img{
    content: url("images/Bottoms-black-hover.png");
    transform: scale(1.1);
    transition: .5s;
  }

  #col-2:hover img {
    content: url("images/Tops-black-hover.png");
    transform: scale(1.1);
    transition: .5s;
  }

  /*Our Goal Div*/
  #Goal {
    color: white;
    padding: 50px;
    height: 350px;
    text-align: center;
    margin-top: -10%;
    background-color: rgb(50, 50, 50);
    transform: skewY(-11deg);
  }

  #Goal img {
    float: left;
  }

  /*Packaging*/
  #Packaging {
    color: white;
    padding: 50px;
    height: 435px;
    text-align: center;
    background-color: rgb(50, 50, 50);
    transform: skewY(-11deg);
  }

  #Packaging img {
    float: left;
  }

  /*Social Media*/
  #SM {
    color: white;
    margin-top: 14.5%;
    height: 200px;
    text-align: center; 
    border-radius: 25px;      /* Rounded Corner */
    background-image: url("images/SM_Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
  }

  #SM img {
    height: 70px;
  }

  /* Footer Style */
  footer {
    background-color: black;
    height: 167px;
    color: white;
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
  }

  footer a {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
  }

  /*Footer Table*/
  footer table, th, td {
    border:0px solid black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
  }

  /*Footer Left and Right*/
  #alignleft {
    float: left;
  }

  #alignright {
    float: right;
  }

  /* Scroll Down Button */
  #down {
    margin-top: 5%;
    padding-bottom: 0%;
  } 

  #middle {
    padding-bottom: 25%;
  }

  /* Shopping cart number of items  */
  #cart-icon::after {
    content: attr(value);
    font-size: 12px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 25%;
    padding: 1 5;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: var(--opacity);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}