  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(87, 87, 87);
  }

  h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32;
    text-align: center;
  }

  h2 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18;
  }

  h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15;
  }

  pre {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26;
  }

  p {
    color: white;
    font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
  }

  p2 {
    font-size: 42;
  }

  p3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 10px;
  }

  p4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26;
  }
  
  a {
    color: white;
    font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-decoration: none;
  }

  /* Header Style */
  header {
    background-color: rgba(37, 37, 37, 0.555);
    padding: 20px;
    text-align: left;
    font-size: 15px;
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  /*Navbar*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    /*background-color: rgba(51, 51, 51, 0.681);*/
    text-align: center;
  }
  
  li{
    display: inline-block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  
  li a:hover {
    background-color: rgba(0, 0, 0, 0.245);
  }

  /*Searchbox*/
  input[type=text] {
    background-color: rgba(37, 37, 37, 0.555);
    color: white;
    border-style: hidden;
    height: 47px;
    font-size: 15;
  }

  button {
    background-color: rgba(37, 37, 37, 0.555);
    font-size: 15;
    height: 47px;
    width: 47px;
    color: white;
    border-style: hidden;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.245);
  }

  /*Streetwear for everyone*/
  article {
    background-image: url("images/astronaut-1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: white; 
    text-align: center;
    height: 500px;
  } 

  /* Products */
  #col-1 {
    width: 50%;
    height: 60%;
    float: left;
    background-image: url("images/Bottoms-black.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
    border-top-left-radius: 25px;    /*Rounded Corner top left*/
    border-bottom-left-radius: 25px;   /*Rounded Corner bottom left*/
  }

  #col-1-font { 
    position: absolute; 
    top:97%; 
    left:21.5%; 
    font-size: 25;
  }
  
  #col-2 {
    width: 50%;
    height: 60%;
    float: right;
    background-image: url("images/Tops-black.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 25px;    /*Rounded Corner top right*/
  }

  #col-2-font {
    position: absolute; 
    top:97%; 
    left:72%; 
    font-size: 25;
  }

  /*Hover Effekt test*/
  #col-1-font:hover {
    flex: 1;
    font-size: 35px;
    text-shadow: 0 3px 5px rgba(#000, 0.25);
    color: white;
    cursor: pointer;
    user-select: none;
    transition: 1.5s ease;
  }

  #col-2-font:hover {
    flex: 1;
    font-size: 35px;
    text-shadow: 0 3px 5px rgba(#000, 0.25);
    color: white;
    cursor: pointer;
    user-select: none;
    transition: 1.5s ease;
  }

  /*Our Goal Div*/
  #Goal {
    color: white;
    height: 450;
    margin-top: 170;
    background-color: rgb(50, 50, 50);
    transform: skewY(-11deg);
  }

  /*Our Goal Text*/
  #Goal-text {
    color: white;
    margin-left: 500px;
    text-align: center;
  }
  
  /*Logo / Our Goal*/
  #Logo {
    float: left;    
    margin-left: 27;
    margin-top: 47;
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
  }

  /*Packaging*/
  #Packaging {
    color: white;
    height: 480;
    background-color: rgb(50, 50, 50);
    transform: skewY(-11deg);
  }

  /*Packaging Text*/
  #Package-text {
    color: white;
    margin-left: 700px;
    text-align: center;
  }

  /*Package / Packaging*/
  #Package-picture {
    float: left;
    margin-left: 27;
    margin-top: 25;
    background-image: url("images/Package.png");
    background-repeat: no-repeat;
    height: 450px;
    width: 700px;
  }

  /*Social Media*/
  #SM {
    color: white;
    height: 200;
    margin-top: 180;
    text-align: center; 
    background-color: rgb(81, 81, 81);
    border-radius: 25px;      /*Rounded Corner*/
    background-image: url("images/SocialMedia-1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 75%;
    background-size: 30%;
  }

  /* Footer Style */
  footer {
    background-color: black;
    height: 167px;
    color: white;
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
  }

  /*Footer Left and Right*/
  #alignright {
      float: right;
  }
   
  #alignleft {
      float: left;
  }

  /*Footer Table*/
  table, th, td {
    border:0px solid black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
  }

  /* Scroll Down Button */

  #down {
    margin-top: 5%;
    padding-bottom: 0%;
  } 

  #middle {
    padding-bottom: 25%;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens*/ 
  @media (max-width: 600px) {
    html, body, pre, a, p, p2, p3, p4, h1, h2, h3, header, ul, article, #col-1, #col-2, #col-1-font, #col-2-font, #Goal, #Goal-text, #Logo, #Packaging, #Package-text, #Package-picture, #SM, #down, #middle, footer {
      width: 100%;
      height: auto;
    }
  } 